**/node_modules/
.github/
.git/
.gitignore
.gitattributes

**/.angular/
**/dist/
AGENTS.md
CONTEXT.md
CLAUDE.md

**/coverage/
**/reports/
**/.msw/
**/vitest.config.mts
**/*.spec.json

.moon/cache/
.husky/
.commitlintrc
.lintstagedrc

.editorconfig
.prettierignore
.prettierrc
**/.stylelintrc.json

.vscode/
.idea/
.run/

**/.storybook/
**/*.stories.ts

**/*.spec.ts

.claude/
docs/

**/eslint.config.mjs
