# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist/
tmp/

# dependencies
node_modules/

# IDEs and editors
.idea/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
reports/

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data

.angular/
**/src/prisma/

**/.env
cert*.pem
