.idea/

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

.nx/*

.angular/
dist/
**/src/prisma/

node_modules/

reports/
**/__screenshots__/

**/*.pem
**/.env
**/public/config.json
