{
    "*.{ts,mts,js,mjs,html,json,yml,yaml,css,scss}": "prettier -w",
    "*.{ts,mts,js,mjs,html}": "eslint",
    "*.scss": "stylelint",
    "*.md": "markdownlint-cli2 --config .markdownlint-cli2.json"
}
