{
    "overrides": [
        {
            "files": ["pnpm-*.yaml", "**/package.json"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.html"],
            "options": {
                "parser": "angular"
            }
        },
        {
            "files": ["*.svg"],
            "options": {
                "parser": "html"
            }
        },
        {
            "files": [".commitlintrc", ".lintstagedrc"],
            "options": {
                "parser": "json"
            }
        }
    ],
    "plugins": ["prettier-plugin-organize-imports"],
    "printWidth": 120,
    "quoteProps": "consistent",
    "singleQuote": true,
    "tabWidth": 4
}
