# Ignore everything
*

# Re-include folders
!*/

# Re-include specific file types
!*.json
!*.yaml
!*.yml
!*.html
!*.css
!*.scss
!*.[cm]js
!*.jsx
!*.js
!*.[cm]ts
!*.tsx
!*.ts
!*.webmanifest

!.prettierrc
!.commitlintrc
!.lintstagedrc

**/node_modules/
pnpm-lock.yaml

.run/
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.angular/
dist/

coverage/
reports/
