# Add files here to ignore them from prettier formatting
*

!*/

!*.json
!*.yaml
!*.html
!*.scss
!*.ts
!*.tsx
!*.[cm]ts
!*.js
!*.jsx
!*.[cm]js

# Specific Files

!.prettierrc

pnpm-lock.yaml

.nx/cache/
.nx/workspace-data/

# Specific Folders

node_modules/

.angular/
dist/
reports/

