<dma-app-top-bar>
    <ng-container ngProjectAs="nav-start">
        <dma-nav-brand appName="D&D Mapp" />
        <dma-vr />
        <dma-navbar>
            <li dma-nav-link route="/characters">My Characters</li>
            <li dma-nav-link route="/campaigns">My Campaigns</li>
            <li dma-nav-link route="/knowledge-center">Knowledge Center</li>
        </dma-navbar>
    </ng-container>
    <ng-container ngProjectAs="nav-end">
        <dma-login-button />
    </ng-container>
</dma-app-top-bar>
<main class="grow flex justify-center">
    <article class="basis-7xl">
        <router-outlet />
    </article>
</main>
