#AUTH_SERVER_HOST="localhost"

#AUTH_SERVER_PORT="4350"

AUTH_SERVER_PEPPER=""

SSL_CERT_PATH="cert.pem"

SSL_KEY_PATH="cert-key.pem"


#AUTH_DB_HOST="localhost"

#AUTH_DB_PORT="3306"

#AUTH_DB_SCHEMA="my_db"

#AUTH_DB_USER="root"

AUTH_DB_PASSWORD=""
